<div class="modal-header">
    <h4>REGISTRO DE USUARIOS</h4>
    <button type="button" class="btn-close" area-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="name" class="form-label">NOMBRE</label>
            <input type="text" class="form-control" id="name" formControlName="name">
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">CORREO</label>
            <input type="text" class="form-control" id="email" formControlName="email">
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">CANCELAR</button>
            <button type="submit" class="btn btn-primary">GUARDAR</button>
        </div>
    </form>
</div>