<div class="container">
    <h3>FORMULARIO DE USUARIO</h3>
    <button class="btn btn-primary" (click)="openUserModal()">AGREGAR USUARIO</button>


    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="form-group">
                <label for="txtUsuario">USUARIO</label>
                <input class="form-control" placeholder="ingrese nombre" formControlName="name">

            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="txtCorreo">CORREO</label>
                <input class="form-control" placeholder="ingrese correo" formControlName="email">

            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4">
                <button type="submit" class="btn btn-primary">GUARDAR</button> &nbsp;
                <button type="button"  class="btn btn-danger" (click)="resetForm()">CANCELAR</button>
            </div>
        </div>
    </form>


<p>LISTADO DE USUARIOS</p>
<table class="table">
    <thead class="thead table-dark">
        <tr>
            <th>NOMBRE</th>
            <th>EMAIL</th>
            <th>ACCIONES</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td> 
                <button class="btn btn-warning" (click)="openUserModal(user)">EDITAR </button> &nbsp;
                <button class="btn btn-danger" (click)="deleteUser(user.id)">ELIMINAR</button>
            </td>
        </tr>
    </tbody>
</table>

    <app-user-form #userModal></app-user-form>
</div>


